@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: 'Oswald', bold;
    font-size: medium;
}

body{
    background-color: #181818;
}

input{
    max-width: fit-content;
    margin-top: 1rem;
    outline: none;
}
label{
    color: aliceblue;
    margin-top: 1rem;
}

textarea{
    margin-top: 1rem;
    background-color: grey;
    border: none;
    border-radius: 0.2rem;
    color: aliceblue;
    max-width: fit-content;
    min-height: 2rem;
    min-width: 15rem;
}

button{
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

main{
    display: grid;
    justify-content: center;
}

button.add{
    padding: 0.5rem;
    margin: 1rem;
}

h2{
    margin-top: 1rem;
    color: aliceblue;
}

div.flex-center{
    justify-content: space-around;
}

form{
    visibility: hidden;
}

ul{
    display: grid;
    justify-content: space-between;
    color: aliceblue;
}

ul li{
    list-style: none;
    margin: 1rem;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
}

span{
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;

}

span:hover{
    background-color:  rgb(39, 65, 66);
    cursor: pointer;
}

.infos{
    display: flex;
    justify-content: space-between;
}

.tasks{
    display: grid;
    justify-content: center;
    color: aliceblue;
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0.5rem 0.5rem rgb(39, 65, 66);
}

.new-todo{
    background-color: cadetblue;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
    visibility: hidden;
    display: none;
}

.flex-center{
    display:flex;
    justify-content: center;
}

.flex-grid{
    display: grid;
    justify-content: center;
}

#description-p{
    visibility: hidden;
}